.border-grad {
  color: #313149;
  padding: 25px;
  border-radius: 15px;
  display: inline-block;
  background-size: 0 0;
  position: relative;
  z-index: 0;
  background-image: linear-gradient( #cff1ff,#2d5666);
}

.border-grad::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: auto;
  --mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg" ><rect x="5" y="5" width="100%" height="100%" style="height:calc(100% - 10px);width:calc(100% - 10px)" rx="4" ry="4" stroke-width="1" fill="transparent" stroke="white"/></svg>');
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
